{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block main %}

<div class="row">
    <div class="col col-md-6"></div>
    <div class="col col-md-6">
        <form method="get" class="form-inline mb-3 d-flex">
          <input type="text" name="q" value="{{ search }}" placeholder="講義名で検索" class="form-control mr-2">
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

    {% include 'lectures/lectures_table.html' %}

    {% load star_filters %}
    <div class="star-rating">
      <div class="star-rating-fill" style="width: {{ average_score|rating_to_percent }}%;"></div>
    </div>

{% endblock %}