{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block main %}

<div class="row">
    <div class="col-12 col-md-8 offset-md-4">
        <form method="get" class="form-inline mb-3 d-flex">
          <input type="text" name="q_name" value="{{ search_name }}" placeholder="講義名で検索" class="form-control mr-2">
          <input type="text" name="q_university" value="{{ search_university }}" placeholder="大学名" class="form-control mr-2">
          <select name="q_year" class="form-control mr-2">
            <option value="">学年で検索</option>
            <option value="1" {% if search_year == "1" %}selected{% endif %}>1</option>
            <option value="2" {% if search_year == "2" %}selected{% endif %}>2</option>
            <option value="3" {% if search_year == "3" %}selected{% endif %}>3</option>
            <option value="4" {% if search_year == "4" %}selected{% endif %}>4</option>
          </select>
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>

    {% include 'lectures/lectures_table.html' %}

    {% load star_filters %}
    <div class="star-rating">
      <div class="star-rating-fill" style="width: {{ average_score|rating_to_percent }}%;"></div>
    </div>

{% endblock %}