{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="row flex-column flex-md-row">
  <div class="col col-md-8 col-xl-6 d-flex align-items-end">
    <h2>{{ lecture.name }}</h2>
    {% if lecture.university %}
    <h4 class="ms-3 d-none d-md-block">by {{ lecture.university }}</h4>
    {% endif %}
  </div>
  <div class="col col-md-4 col-xl-6">
    {% if user.is_authenticated %}
      {% if request.user.is_manager == True %}
        <a href="{% url 'lectures_edit' lecture.id %}" class="btn btn-primary"><i class="fa-solid fa-pen"></i> 編集</a>
        <form action="{% url 'lectures_delete' lecture.id %}" method="POST" onsubmit="return confirm('本当に「{{ lecture.name }}」の講義を削除しますか？');" class="d-inline-block">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> 削除</button>
        </form>
      {% else %}
        {% if is_favorite %}
          <!-- 解除 -->
          <a href="{% url 'favorites_delete' lecture.id %}" class="favorites-custom">
            お気に入り解除<i class="fa-solid fa-heart"></i>
          </a>
        {% else %}
          <!-- 登録 -->
          <a href="{% url 'favorites_create' lecture.id %}" class="favorites-custom">
            お気に入り登録<i class="fa-regular fa-heart"></i>
          </a>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>大学</th>
      <th>対称学年</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ lecture.university }}</td>
      <td>{{ lecture.school_year }}</td>
      <td>
        {% load star_filters %}
        <div class="star-rating">
          <div class="star-rating-fill" style="width: {{ lecture.average_score|rating_to_percent }}%;"></div>
        </div>
        {{ lecture.average_score }}
      </td>
    </tr>
  </tbody>
</table>

<h4>講義内容</h4>
<p>{{ lecture.body }}</p>

<hr>

<div class="row flex-column flex-md-row">
  <div class="col order-2 order-md-1 mt-3 mt-md-1">
    <div class="container">
      <div class="row mb-3 mb-md-5">
        <div class="col-auto">
          {% if search_score %}
            <h4>評価数：{{ reviews.count }}件</h4>
          {% else %}
            <h4>評価数：{{ lecture.reviews_count }}件</h4>
          {% endif %}
        </div>
        <div class="col-auto"><a href="{% url 'reviews_new' lecture.id %}" class="btn btn-success">新規投稿</a></div>
      </div>
      <div class="row">
        {% if search_score %}
          <h4>レビューの絞り込み（評価 ：{% include 'lectures/_star.html' with score=search_score %}）</h4>
        {% else %}
          <h4>レビュー 一覧</h4>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col order-1 order-md-2">
    {% for key, value in score_counts.items %}
      {% include 'lectures/_star.html' with score=key %}
      {% load review_probability %}
      <div class="review-meter">
        <div class="review-meter-fill" style="width: {{ value|review_percent:lecture.reviews_count }}%;"></div>
      </div>
      <a href="?q_score={{ key }}">{{ value }}件</a>
      <br>
    {% endfor %}
  </div>
</div>

<!--レビュー一覧-->
{% if valid_reviews %}
{% for review in valid_reviews %}
<div class="row flex-column flex-md-row mt-4">
  <div class="col">
    <a href="#" class="review-username fs-5 link-dark link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover" data-user-id="{{ review.user.id }}">
      <i class="fa-solid fa-user"></i>
      {{ review.user.username }}
    </a>
    {% if review.user == request.user %}
    <a href="{% url 'reviews_edit' lecture.id review.id %}" class="btn btn-primary ms-3"><i class="fa-solid fa-pen"></i></a>
    <form action="{% url 'review_delete' lecture.id review.id %}" method="POST" onsubmit="return confirm('本当に削除しますか？');" class="d-inline-block">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
    </form>
    {% endif %}
    <div class="container">
      <p class="m-1">
        {% include 'lectures/_star.html' with score=review.score %}
        {{ review.title|default:"タイトルなし" }}
      </p>
      <p>{{ review.comment }}</p>
    </div>
  </div>
  <div class="col mt-5">
    <div class="other-user" id="other-user-{{ review.user.id }}" style="display: none;"></div>
  </div>
</div>
{% endfor %}
{% include '_pagination.html' with list=valid_reviews %}
{% else %}
<p>まだコメントはありません。</p>
{% endif %}

{% load static %}
<script src="{% static 'snippets/js/user_hover.js' %}"></script>

{% endblock %}