<span class="star">
  {% if score == 1 %}
    <!--★☆☆☆☆-->
    <i class="fa-solid   fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
  {% elif score == 2 %}
    <!--★★☆☆☆-->
    <i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
  {% elif score == 3 %}
    <!--★★★☆☆-->
    <i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
  {% elif score == 4 %}
    <!--★★★★☆-->
    <i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-regular fa-star"></i>
  {% elif score == 5 %}
    <!--★★★★★-->
    <i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i><i class="fa-solid   fa-star"></i>
  {% else %}
    <!--☆☆☆☆☆-->
    <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
  {% endif %}
</span>

