<nav aria-label="Page navigation btn">
  <ul class="pagination justify-content-center">

    {% if list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ list.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true"><i class="fa-solid fa-chevron-left" style="line-height: 1.5;"></i></span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true"><i class="fa-solid fa-chevron-left" style="line-height: 1.5;"></i></span>
      </li>
    {% endif %}

    {% for num in list.paginator.page_range %}
      {% if list.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ list.next_page_number }}" aria-label="Next">
          <span aria-hidden="true"><i class="fa-solid fa-chevron-right" style="line-height: 1.5;"></i></span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true"><i class="fa-solid fa-chevron-right" style="line-height: 1.5;"></i></span>
      </li>
    {% endif %}

  </ul>
</nav>