<div class="table-responsive-sm">
<table class="table table-hover table-bordered mb-0">
    <thead class="table table-warning">
        <tr>
            <th class="text-nowrap"></th>
            <th class="text-nowrap">講義名</th>
            <th class="text-nowrap">大学</th>
            <th class="text-nowrap">学年</th>
            <th class="text-nowrap">評価</th>
            <th class="text-nowrap">レビュー数</th>
        </tr>
    </thead>
    <tbody>
        {% for lecture in lectures %}
        <tr>
            <td class="text-nowrap">{{ forloop.counter }}{{ rank }}</td>
            <td class="text-nowrap">
                <a href="{% url 'lectures_show' lecture.id %}">{{ lecture.name }}</a>
            </td>
            <td class="text-nowrap">{{ lecture.university|default:"–" }}</td>
            <td class="text-nowrap">{{ lecture.school_year|default:"–" }}</td>
            <td class="text-nowrap">
                {% load star_filters %}
                <div class="star-rating">
                  <div class="star-rating-fill" style="width: {{ lecture.average_score|rating_to_percent }}%;"></div>
                </div>
                {{ lecture.average_score|default:"" }}
            </td>
            <td class="text-nowrap">{{ lecture.reviews_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>