{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Djangoスニペット</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'snippets/css/style.css' %}">
    {% block extraheader %}{% endblock %}
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            {% if user.is_manager %}
                <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
                    <div class="container justify-content-between">
                        <a href="/" class="navbar-brand">管理者ページ</a>
                        <ul class="navbar-nav mr-md-2">
                            <form action="{% url 'logout' %}" method="post" name="f_logout">
                                {% csrf_token %}
                                <input type="hidden" name="logout" value="true">
                                <a href="javascript:document.f_logout.submit()" class="logout nav-link">ログアウト</a>
                            </form>
                        </ul>
                    </div>
                </nav>
            {% else %}
                <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
                    <div class="container justify-content-between">
                        <a href="/" class="navbar-brand">Djangoスニペット</a>
                        <ul class="navbar-nav mr-md-2">
                            <form action="{% url 'logout' %}" method="post" name="f_logout">
                                {% csrf_token %}
                                <input type="hidden" name="logout" value="true">
                                <a href="javascript:document.f_logout.submit()" class="logout nav-link">ログアウト</a>
                            </form>
                        </ul>
                    </div>
                </nav>
            {% endif %}
        {% else %}
        <nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
            <div class="container justify-content-between">
                <a href="/" class="navbar-brand">Djangoスニペット</a>
                <ul class="navbar-nav mr-md-2">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
                </ul>
            </div>
        </nav>
        {% endif %}
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
</body>
</html>