{% extends 'base.html' %}

{% block main %}
<div class="welcome">
    {% if user.is_authenticated %}
        <h1 class="title">ようこそ{{ user.username }}さん！</h1>
        <div class="d-flex justify-content-evenly w-100 mt-2">
            <p>講義の一覧はこちらから</p>
            <p>マイページはこちらから</p>
        </div>
        <div class="d-flex justify-content-evenly w-100">
            <a class="btn btn-outline-info" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a>
            <a class="btn btn-outline-secondary" href="{% url 'users_show' request.user.id %}"><i class="fa-solid fa-user"></i> マイページ</a>
        </div>
    {% else %}
        <h1 class="title">ようこそラクタンナビへ！</h1>
        <p class="subtitle">講義のレビューを投稿しましょう</p>
        <div class="d-flex justify-content-evenly w-100">
            <a class="btn btn-outline-primary" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> ログイン</a>
            <a class="btn btn-outline-success" href="{% url 'signup' %}"><i class="fa-solid fa-user-plus"></i> 新規登録</a>
        </div>
    {% endif %}
</div>

<div class="row my-2">
{% if not manager_exists %}
    <p>管理人が存在しません</p>
    <a href="{% url 'manager_signup' %}">管理者ページ 新規登録</a>
{% endif %}
</div>

<div id="carousel-container">
    <div class="carousel-track">
        <div class="item">
            <div class="row mt-3 ms-3">
                <div class="col-7 col-md-6"><h5>講義 Pick Up</h5></div>
                <div class="col-5 col-md-6 d-flex">
                    <p class="d-none d-md-inline me-1">一覧はこちらから<i class="fa-solid fa-caret-right"></i></p>
                    <a class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a>
                </div>
            </div>
            {% include '_scroll_template.html' with lectures=normal_lectures rank="" %}
        </div>
        <div class="item">
            <div class="row mt-3 ms-3">
                <div class="col-7 col-md-6"><h5>評価トップ5</h5></div>
                <div class="col-5 col-md-6 d-flex">
                    <p class="d-none d-md-inline me-1">一覧はこちらから<i class="fa-solid fa-caret-right"></i></p>
                    <a class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a>
                </div>
            </div>
            {% include '_scroll_template.html' with lectures=score_lectures rank="位" %}
        </div>
        <div class="item">
            <div class="row mt-3 ms-3">
                <div class="col-7 col-md-6"><h5>レビュー数トップ5</h5></div>
                <div class="col-5 col-md-6 d-flex">
                    <p class="d-none d-md-inline me-1">一覧はこちらから<i class="fa-solid fa-caret-right"></i></p>
                    <a class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a>
                </div>
            </div>
            {% include '_scroll_template.html' with lectures=review_lectures rank="位" %}
        </div>
        <div class="item">
            <div class="row mt-3 ms-3">
                <div class="col-7 col-md-6"><h5>お気に入りトップ5</h5></div>
                <div class="col-5 col-md-6 d-flex">
                    <p class="d-none d-md-inline me-1">一覧はこちらから<i class="fa-solid fa-caret-right"></i></p>
                    <a class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'lectures_index' %}"><i class="fa-solid fa-book-open"></i> 講義一覧</a>
                </div>
            </div>
            {% include '_scroll_template.html' with lectures=favorites_lectures rank="位" %}
        </div>
    </div>
    <button id="prev" class="nav-btn"><i class="fa-solid fa-chevron-left"></i></button>
    <button id="next" class="nav-btn"><i class="fa-solid fa-chevron-right"></i></button>
</div>

{% load static %}
<script src="{% static 'snippets/js/scroll.js' %}"></script>

{% endblock %}