{% extends 'base.html' %}

{% block main %}
<div class="welcome">
    <h1 class="title">ようこそBootstrap5を適用したDjangoスニペットへ！</h1>
    <p class="subtitle">あなたの知見を共有しましょう</p>
    <a class="btn btn-primary" href="{% url 'snippet_new' %}">投稿する</a>
</div>

{% if lectures %}
{% if manager_exists %}
    <p>管理人が存在します</p>
    <p>※いつか消す</p>
{% else %}
    <p>管理人が存在しません</p>
    <a href="manager/signup">管理者ページ 新規登録</a>
{% endif %}
    {% include 'lectures/lectures_table.html' %}
{% else %}
<p>講義はまだ投稿されていません．</p>
{% endif %}
{% endblock %}