{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block main %}
<div class="row">
  <div class="col d-flex align-items-end">
    <h2>{{ user.username }}さんのマイページ</h2>
  </div>
  <div class="col">
    <a href="{% url 'users_edit' user.id %}" class="btn btn-primary"><i class="fa-solid fa-user-pen"></i> 編集</a>
  </div>
</div>

<div class="row">
    <div class="col">名前</div>
    <div class="col">{{ user.username }}</div>
</div>
<div class="row">
    <div class="col">メールアドレス</div>
    <div class="col">{{ user.email }}</div>
</div>
<div class="row">
    <div class="col">大学</div>
    <div class="col">{{ user.university }}</div>
</div>
<div class="row">
    <div class="col">学年</div>
    <div class="col">{{ user.school_year }}</div>
</div>

<hr>

<h2>投稿したレビュー</h2>
{% if reviews %}
{% for review in reviews %}
<div>
    <a href="{% url 'lectures_show' review.lecture.id %}">{{ review.lecture.name }}</a>
    <p>
        {% include 'lectures/_star.html' with score=review.score %}
        {{ review.title }}
    </p>
    <p>{{ review.comment }}</p>
</div>
{% endfor %}
{% else %}
<p>まだレビューを投稿していません。</p>
{% endif %}

{% endblock %}